.main-nav-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;

}

.main-nav-list__link{
    display: block;
    font-size: 1rem;
    padding: 1rem 1.25rem;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    transition: all .3s ease-in-out;
}

.main-nav-list__link:hover{
    background: #000;
    color: #fff;
}